.perfil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #191919;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  