<div class="citas-container">
  <h2>Mis Citas</h2>

  <!-- Filtro de fecha -->
  <mat-form-field appearance="fill">
    <mat-label>Seleccione una fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" (dateChange)="listarCitasFecha()" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Botón para ver todas las citas -->
  <button mat-button color="primary" (click)="verTodasLasCitas()">Ver todas las citas</button>

  <!-- Tabla de citas -->
  <table mat-table [dataSource]="citas" class="mat-elevation-z8">
    
    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.fecha }} </td>
    </ng-container>

    <!-- Hora de Inicio -->
    <ng-container matColumnDef="horaInicio">
      <th mat-header-cell *matHeaderCellDef> Hora de Inicio </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.horaInicio }} </td>
    </ng-container>

    <!-- Servicio -->
    <ng-container matColumnDef="servicio">
      <th mat-header-cell *matHeaderCellDef> Servicio </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.servicio.nombre }} </td>
    </ng-container>

    <!-- Servidor -->
    <ng-container matColumnDef="servidor">
      <th mat-header-cell *matHeaderCellDef> Servidor </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.idServidor.nombre }} </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.estadoCita.nombre }} </td>
    </ng-container>

    <!-- Generar Comprobante -->
    <ng-container matColumnDef="comprobante">
      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
      <td mat-cell *matCellDef="let cita">
        <button mat-button color="accent" (click)="generarComprobante(cita)">Generar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['fecha', 'horaInicio', 'servicio', 'servidor', 'estado', 'comprobante']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['fecha', 'horaInicio', 'servicio', 'servidor', 'estado', 'comprobante'];"></tr>
  </table>
</div>
